.author {
  margin-top: 100px;
}
.author__inner {
  display: flex;
  justify-content: center;
  gap: 90px;
}
.author__info {
  max-width: 645px;
  display: flex;
  flex-direction: column;
}
.author__name {
  font-size: 35px;
  color: #7d0b0b;
  margin-bottom: 95px;
}
.author__date {
  margin-bottom: 35px;
}
.author__descr {
  max-width: 500px;
}
.author__img {
  max-width: 395px;
  height: fit-content;
  position: relative;
}
.author__img img{
  width: 100%;
  height: auto;
}
.author__img::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #7d0b0b;
  transform-origin: 0px 0px;
  transform: rotate(15deg);
}

.author__img::after{
  content: url("./../img/about/author-star.svg");
  position: absolute;
  top: -35px;
  left: -50px;
}



@media (max-width:1200px){
    .author__name{
    margin-bottom: 50px;
  }
}

@media (max-width:1000px){
  .author__img{
    max-width: 300px;
  }

  .author__name{
    font-size: 30px;
    margin-bottom: 35px;
  }

  .author__date, .author__descr{
    font-size: 20px;
    max-width: 400px;
  }
  .author__img::before {
    transform: rotate(10deg);
}
.author__img::after{
  transform: scale(.9);
}
}


@media (max-width: 800px) {
  .author__inner{
    flex-direction: column-reverse;
    align-items: center;
  }

  .author__info{
    align-items: center;
    text-align: center;
  }

    .author__img::before {
    transform: rotate(10deg);
}
.author__img::after{
  transform: scale(.9);
}
}

@media (max-width: 600px) {

      .author__date, .author__descr {
        font-size: 16px;
      }
    .footer {
         margin-top: 100px;
    }

    .author__img{
      max-width: 250px;
    }

  .author__img::before {
    transform: rotate(7deg);
}
.author__img::after{
  transform: scale(.75);
}
  
}