.author {
  margin-top: 100px;
}
.author__inner {
  display: flex;
  justify-content: center;
  gap: 90px;
}
.author__info {
  max-width: 645px;
  display: flex;
  flex-direction: column;
}
.author__name {
  font-size: 35px;
  color: #7d0b0b;
  margin-bottom: 95px;
}
.author__date {
  margin-bottom: 35px;
}
.author__descr {
  max-width: 500px;
}
.author__img {
  max-width: 395px;
  height: fit-content;
  position: relative;
}
.author__img img{
  width: 100%;
  height: auto;
}
.author__img::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #7d0b0b;
  transform-origin: 0px 0px;
  transform: rotate(15deg);
}

.author__img::after{
  content: url("./../img/about/author-star.svg");
  position: absolute;
  top: -35px;
  left: -50px;
}



/* --------  biography ----------*/


.biography{
  margin-top: 120px;
}


.biography__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.biography__title {
  text-align: center;
  margin-bottom: 70px;
  font-size: 40px;
  color: #8d0307;
}

.biography__descr {
  max-width: 1100px;
  text-align: justify;
}



/* ------- awards ---------- */
.awards{
  margin-top: 100px;
}
.awards__list{
  width: 100%;
  height: 136px;
  background: url("./../img/header_bg.jpg") no-repeat center center / cover; 
  position: relative;
}

.awards__item{
  position: absolute;
  top: 0px;
  max-width: 207px;
}

.awards__item img{
  width: 100%;
}

.awards__item:nth-child(1){
  left: 0px;
}
.awards__item:nth-child(2){
   right: 230px; 

}
.awards__item:nth-child(3){
  right: 0px;

}


.awards__title{
  margin-top: 120px;
  display: block;
  text-align: center;
  font-size: 40px;
  color: #8d0307;
}
.awards__path{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  position: relative;
}
.awards__path img{
  width: 100%;
}


.awards__path-item{
  position: absolute;
  font-size: 35px;
  text-align: center;
}

.awards__path-item:nth-child(1){
    top: 30%;
    left: 25%;
}
.awards__path-item:nth-child(2){
    top: 39%;
    left: 51%;
    max-width: 280px;
}
.awards__path-item:nth-child(3){
    top: 70%;
    left: 37%;
    max-width: 411px;
}

@media (max-width:1200px){
    .author__name{
    margin-bottom: 50px;
  }
  .awards__path-item{
  font-size: 30px;
}

.awards__item{
  max-width: 160px;
}

.awards__item:nth-child(2){
   right: 180px; 

}

}

@media (max-width:1000px){
  .author__img{
    max-width: 300px;
  }

  .author__name{
    font-size: 30px;
    margin-bottom: 35px;
  }

  .author__date, .author__descr{
    font-size: 20px;
    max-width: 400px;
  }
  .author__img::before {
    transform: rotate(10deg);
}
.author__img::after{
  transform: scale(.9);
}
.biography__title{
  font-size: 35px;
  margin-bottom: 50px;
}

.awards__title{
  font-size: 35px;
  margin-top: 100px;
}

  .awards__path-item{
  font-size: 25px;
}

.awards__item{
  max-width: 125px;
}

.awards__item:nth-child(2){
   right: 135px; 
}

.awards__list{
  height: 100px;
}

.awards__path-item:nth-child(2) {
    left: 42%;
}


.awards__path-item:nth-child(3) {
    max-width: 300px;
}

}


@media (max-width: 800px) {
  .author__inner{
    flex-direction: column-reverse;
    align-items: center;
  }

  .author__info{
    align-items: center;
    text-align: center;
  }

    .author__img::before {
    transform: rotate(10deg);
}
.author__img::after{
  transform: scale(.9);
}
.biography__title{
  font-size: 30px;
}
.biography__descr{
  font-size: 20px;
}

.awards__title{
  font-size: 30px;
  margin-top: 80px;
}
  .awards__path-item{
  font-size: 20px;
}

.awards__path img {
    width: 110%;
}

.awards__path-item:nth-child(2) {
    max-width: 213px;
    left: 48%;
}

.awards__path-item:nth-child(3) {
        max-width: 235px;
    }


    .awards__item {
        max-width: 110px;
    }

        .awards__item:nth-child(2) {
        right: 105px;
    }
}


@media (max-width: 700px) {
 .awards__path-item:nth-child(2) {
    left: 43%;
} 
}

@media (max-width: 600px) {

  .author, .footer, .biography {
    margin-top: 70px;
}

.author__inner {
    gap: 70px;
}

.author__date {
    margin-bottom: 25px;
}

    .author__name {
        margin-bottom: 30px;
    }

      .author__date, .author__descr {
        font-size: 16px;
      }
    .footer {
         margin-top: 100px;
    }

    .author__img{
      max-width: 250px;
    }

  .author__img::before {
    transform: rotate(7deg);
}
.author__img::after{
  transform: scale(.75);
}


.biography__inner{
  padding: 0px 0px;
}

.biography__title{
  font-size: 27px;
  margin-bottom: 35px;
}
.biography__descr{
  font-size: 16px;
}


    .awards__title {
        font-size: 27px;
        margin-top: 70px;
    }

        .awards__item:nth-child(2) {
          display: none;
    }
  .awards__list{
    height: 80px;
  }

  .awards__item {
        max-width: 95px;
    }

    .awards__item:nth-child(1) {
        left: 15px;
    }

    .awards__item:nth-child(3) {
    right: 15px;
}

.awards__path{
  align-items: normal;
}

.awards__path > img{
  display: none;
}

.awards__path-item:nth-child(3),  .awards__path-item:nth-child(2){
        max-width: none;
    }
.awards__path-item{
  position: static;
  height: fit-content;
  width: 100%;
  max-width: none;
  text-align: center;
  font-size: 18px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  border: 2px solid #8D0307;
  padding: 7px;
}
.awards__path-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

  
}