
.posts {
  margin-top: 100px;
}
.posts__title {
  display: block;
  font-size: 35px;
  text-align: center;
}
.posts__nav {
  margin-top: 50px;
}
.posts__links {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.posts__link {
  color: #fff;
  padding: 6px 8px;
  font-size: 16px;
  background: #1b1b1b;
  transition: background-color .2s;
}

.posts__link:hover{
  background-color: #5f5f5f;
}
.posts__link--active{
  background-color: #a96264;
}

.posts__grid {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1182px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: left;
  gap: 50px;
}
.posts__item {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  
  padding: 15px 15px 60px 15px;
  max-width: 358px;
  background: #d9d9d9;
}

.posts__item-link{
  position: absolute;
  inset: 0;
  z-index: 11;
}
.posts__img {
  width: 100%;
}
.posts__tags {
  display: flex;
  align-self: flex-start;
  gap: 5px;
}
.post__tag {
  font-size: 10px;
  color: #fff;
  padding: 5px;
  background: rgba(27, 27, 27, 0.7);
}
.posts__descr {
  font-size: 16px;
  text-align: justify;
}



@media (max-width: 1200px) {
  .posts__grid{
    gap: 30px;
  }


  .posts__links {
  justify-content: space-between;
  gap: 10px;
}
}

@media (max-width: 1000px){
  .posts__item {
        gap: 20px;
    }

  .posts__grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
  }

  .posts__descr {
    font-size: 14px;
}

.posts__link {
    padding: 5px;
    font-size: 12px;
}

.posts__links {
        justify-content: center;
        gap: 20px;
    }
}



@media (max-width: 800px) {
  .posts__title{
    font-size: 30px;
  }
      .posts__grid {
        gap: 20px;
    }


      .posts__item {
        gap: 15px;
        padding: 10px 10px 50px 10px;
    }

    .posts__links{
      flex-wrap: wrap;
    }

    .posts {
    margin-top: 70px;
}

}



@media (max-width: 600px) {

    .posts__title{
    font-size: 27px;
  }
    .footer {
        margin-top: 70px;
    }

  .posts__grid{
    grid-template-columns: 1fr;
    gap: 30px;
  }
}