@import "./fonts.css";

:root {
  --font-family: "Science Gothic", sans-serif;
  --accent-color: #efe9dd;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 25px;
  color: #1b1b1b;
  line-height: 1.4;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

/* ============= header ============= */

.header__nav {
  background: url("./../img/header_bg.jpg") no-repeat center center / cover; 
  max-height: 136px;
  color: var(--accent-color);
  font-weight: 300;
  display: flex;
  justify-content: center;
}
.header__list {
  height: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.header__item:nth-child(2) .header__link::before {
  content: "";
  display: block;
  width: 51px;
  height: 51px;
  background-image: url("./../img/icons/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
}

.hero {
  position: relative;
}
.hero::before {
  content: "";
  background: #00000070;
  position: absolute;
  inset: 0;
}

.header__hero {
  height: 800px;
}
.hero__title {
  display: block;
  max-width: 645px;
  font-size: 35px;
  text-align: right;
  color: var(--accent-color);
  position: absolute;
  right: 2%;
  top: 35%;
}



/* ============= about ============= */

.main__about {
  margin-top: 100px;
}
.about {
}
.container {
}
.about__title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 70px;
}
.about__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.about__content {
  max-width: 540px;
  text-align: justify;
}
.about__img {
  position: relative;
  max-width: 580px;
}
.about__img::before, .about__img::after {
  content: "";
  background-image: url("./../img/about/stars.svg");
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  position: absolute;
  z-index: 0;
}
.about__img::before {
  top: -32%;
  right: -20%;
}
.about__img::after {
  bottom: -45%;
  left: -5%;
}
.about__img img{
  position: relative;
  z-index: 1;
  width: 100%;
  object-fit: cover;
}

/* ========================================= */
/* ========================================= */
/* =============== media =================== */
/* ========================================= */
/* ========================================= */

@media (max-width: 1200px) {

  /* ------ about -------- */
  .about__img::before, .about__img::after{
      width: 250px;
      height: 250px;
  }

  .about__img{
    min-width: 450px;
  }

  .about__img::before {
  top: -24%;
  right: -17%;
}
.about__img::after {
  bottom: -45%;
  left: -5%;
}

.about__content{
  font-size: 22px;
}
}

@media (max-width: 1000px) {
  /* ------ gloabal ------- */


  
  /* ------ header ------- */
  
    .hero{
    height: 700px;
  }
  .header__link{
    font-size: 23px;
  }

  .hero__title{
    font-size: 32px;
  }

  .header__list{
    height: 110px;
  }

  .header__item:nth-child(2) .header__link::before{
    width: 45px;
    height: 45px;
  }


  /* ------ about -------- */

  .about__inner{
    flex-direction: column;
  }
  .about__img::before, .about__img::after{
      width: 200px;
      height: 200px;
  }

.about__img::after {
      bottom: -35%;
      left: -5%;
  }

  .about__img::before {
        top: -20%;
        right: -15%;
    }

    .about__content{
      max-width: 580px;
    }
}


@media (max-width: 800px) {
  /* ------ gloabal ------- */



  /* ------ header ------- */

    .hero{
    height: 600px;
  }
  .header__link{
    font-size: 20px;
  }

  .hero__title{
    font-size: 27px;
    max-width: 500px;
  }

  .header__list{
    gap: 50px;
    height: 110px;
  }

  .header__item:nth-child(2) .header__link::before{
    width: 40px;
    height: 40px;
  }

  /* ----- about -------- */

  .about__inner{
    padding: 0 20px;
  }
  
}

@media (max-width: 600px) {
  /* ------ gloabal ------- */
  .main__about {
    margin-top: 70px;
}
  /* ------ header ------- */

  .hero{
    height: 500px;
  }
  .header__link{
    font-size: 18px;
  }

  .hero__title{
    padding: 0 15px;
      top: 30%;
    right: 0px;
    font-size: 25px;
    text-align: center;
  }

  .header__list{
    gap: 30px;
    height: 80px;
  }

  .header__item:nth-child(2) .header__link::before{
    width: 35px;
    height: 35px;
  }

  /* ----- about ------ */
  .about__content{
    font-size: 18px;
  }

  .about__title{
    font-size: 30px;
    margin-bottom: 50px;
  }

  .about__img::before, .about__img::after {
        width: 150px;
        height: 150px;
    }

.about__img::before {
        top: -17%;
        right: -12%;
    }

        .about__img::after {
        bottom: -30%;
        left: -3%;
    }

      .about__inner{
    padding: 0px;
  }

      .about__img {
        min-width: 320px;
    }
  
}



@media (max-width: 400px){

  .about__img::before, .about__img::after {
        width: 120px;
        height: 120px;
    }

.about__img::before {
        top: -22%;
        right: -12%;
    }
    .about__img::after {
        bottom: -32%;
        left: -3%;
    }

}