@import "./fonts.css";

:root {
  --font-family: "Science Gothic", sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 25px;
  color: #1b1b1b;
  line-height: 1.4;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
  height: 100%;
}

