@import "./fonts.css";

:root {
  --font-family: "Science Gothic", sans-serif;
  --accent-color: #efe9dd;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 25px;
  color: #1b1b1b;
  line-height: 1.4;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

/* ============= header ============= */

.header__nav {
  background: url("./../img/header_bg.jpg") no-repeat center center / cover; 
  max-height: 136px;
  color: var(--accent-color);
  font-weight: 300;
  display: flex;
  justify-content: center;
}
.header__list {
  height: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.header__item:nth-child(2) .header__link::before {
  content: "";
  display: block;
  width: 51px;
  height: 51px;
  background-image: url("./../img/icons/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
}

.hero {
  position: relative;
}
.hero::before {
  content: "";
  background: #00000070;
  position: absolute;
  inset: 0;
}

.header__hero {
  height: 800px;
}
.hero__title {
  display: block;
  max-width: 645px;
  font-size: 35px;
  text-align: right;
  color: var(--accent-color);
  position: absolute;
  right: 2%;
  top: 35%;
}



/* ============= about ============= */

.main__about {
  margin-top: 100px;
}
.about {
}
.container {
}
.about__title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 70px;
}
.about__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.about__content {
  max-width: 540px;
  text-align: justify;
}
.about__img {
  position: relative;
  max-width: 580px;
}
.about__img::before, .about__img::after {
  content: "";
  background-image: url("./../img/about/stars.svg");
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  position: absolute;
  z-index: 0;
}
.about__img::before {
  top: -32%;
  right: -20%;
}
.about__img::after {
  bottom: -45%;
  left: -5%;
}
.about__img img{
  position: relative;
  z-index: 1;
  width: 100%;
  object-fit: cover;
}



/* ======= year ========== */

.main__year{
  margin-top: 100px;
}

/* ---- select ------ */
.year-select {
  position: relative;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-select__toggle {
  width: 100%;
  padding: 10px 14px;
  background: transparent;
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.year-select__arrow {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 18px solid #8d0307;
  transition: transform 0.2s ease;
}

.year-select.open .year-select__arrow {
  transform: rotate(180deg);
}

.year-select__menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: url("./../img/year/select-bg.jpg") no-repeat center center / cover;
  border: 1px solid #2a2a2a;
  list-style: none;
  margin: 0;
  padding: 4px 0;
  display: none;
  z-index: 1000;
}

.year-select.open .year-select__menu {
  display: block;
}

.year-select__item {
  color: #e0e0e0;
  cursor: pointer;
  white-space: nowrap;
}

.year-select__item:hover {
  background: #1f1f1f;
}

.year-select__item.active {
  background: #3a0f0f;
  color: #fff;
}

.year-select__item a{
  display: block;
    padding: 8px 14px;
  width: 100%;
  height: 100%;
}

.year-select__label{
  font-size: 25px;
  font-family: var(--font-family);
  color: var(--accent-color);
  font-weight: 300;
}

/* --------------- */

.year__content{
  display: none;
}

.year__content--show{
  display: block;
}

.year__hero{
  max-height: 780px;
}

.year__img{
  display: block;
  padding: 110px 0px;
  margin: 0 auto;
}

.year__control{
  width: 100%;
  background: url("./../img/header_bg.jpg") no-repeat center center / cover; 
  color: var(--accent-color);
  font-weight: 300;
}
.year__control-inner{
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}


/* ========================================= */
/* ========================================= */
/* =============== media =================== */
/* ========================================= */
/* ========================================= */

@media (max-width: 1200px) {

  /* ------ about -------- */
  .about__img::before, .about__img::after{
      width: 250px;
      height: 250px;
      
  }

  .about__img{
    min-width: 450px;
  }

  .about__img::before {
  top: -24%;
  right: -17%;
}
.about__img::after {
  bottom: -45%;
  left: -5%;
}

.about__content{
  font-size: 22px;
}


/* ---- year ------- */


.year__img{
  width: 100%;
  padding: 110px 100px;
}
}

@media (max-width: 1000px) {
  /* ------ gloabal ------- */


  
  /* ------ header ------- */
  
    .hero{
    height: 700px;
  }
  .header__link{
    font-size: 23px;
  }

  .hero__title{
    font-size: 32px;
  }

  .header__list{
    height: 110px;
  }

  .header__item:nth-child(2) .header__link::before{
    width: 45px;
    height: 45px;
  }


  /* ------ about -------- */

  .about__inner{
    flex-direction: column;
  }
  .about__img::before, .about__img::after{
      width: 200px;
      height: 200px;
  }

.about__img::after {
      bottom: -28%;
      left: -5%;
  }

  .about__img::before {
        top: -20%;
        right: -15%;
    }

    .about__content{
      max-width: 580px;
    }


  /* ----- year ------ */
  .year__control-inner{
    height: 85px;
    font-size: 22px;
  }

  .year-select__label{
    font-size: 22px;
  }

  .year-select__arrow{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 16px solid #8d0307;
  }

  .year__img{
    padding: 90px;
  }

}


@media (max-width: 800px) {
  /* ------ gloabal ------- */



  /* ------ header ------- */

    .hero{
    height: 600px;
  }
  .header__link{
    font-size: 20px;
  }

  .hero__title{
    font-size: 27px;
    max-width: 500px;
  }

  .header__list{
    gap: 50px;
    height: 110px;
  }

  .header__item:nth-child(2) .header__link::before{
    width: 40px;
    height: 40px;
  }

  /* ----- about -------- */

  .about__inner{
    padding: 0 20px;
  }


  /* ---- year ------ */

  .year-select__item a {
    padding: 5px 10px;
}

  .year__control-inner, .year-select__label{
  font-size: 20px;
}


  .year__img{
    padding: 50px;
  }
  
}

@media (max-width: 600px) {
  /* ------ gloabal ------- */
  .main__about {
    margin-top: 70px;
}
  /* ------ header ------- */

  .hero{
    height: 500px;
  }
  .header__link{
    font-size: 18px;
  }

  .hero__title{
    padding: 0 15px;
      top: 30%;
    right: 0px;
    font-size: 25px;
    text-align: center;
  }

  .header__list{
    gap: 30px;
    height: 80px;
  }

  .header__item:nth-child(2) .header__link::before{
    width: 35px;
    height: 35px;
  }

  /* ----- about ------ */
  .about__content{
    font-size: 18px;
  }

  .about__title{
    font-size: 30px;
    margin-bottom: 50px;
  }

  .about__img::before, .about__img::after {
        width: 150px;
        height: 150px;
    }

.about__img::before {
        top: -17%;
        right: -12%;
    }

        .about__img::after {
        bottom: -30%;
        left: -3%;
    }

      .about__inner{
    padding: 0px;
  }

      .about__img {
        min-width: 320px;
    }
  

    /* ---- year ----- */

    .year__control-inner {
    gap: 10px;
}
.year__img{
  padding: 30px;
}

.year__control-inner{
  font-size: 16px;
  height: 50px;
}

.year-select__label{
  font-size: 16px; 
}

.year-select__arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 12px solid #8d0307;
}

.year-select__menu{
  width: fit-content;
  left: 17%;
}
}



@media (max-width: 400px){

  .about__img::before, .about__img::after {
        width: 120px;
        height: 120px;
    }

.about__img::before {
        top: -22%;
        right: -12%;
    }
    .about__img::after {
        bottom: -32%;
        left: -3%;
    }

        .about__content {
        font-size: 16px;
    }

}


